.SideBar {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  left: 0px;
}

.SideBar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.SideBar ul li {
  padding: 0px;
  background-color: #333;
  /*#f4f4f4*/
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  /*font-size: 1.27vw;*/
  font-weight: normal;
  line-height: 1.6em;
}

a .SideButton,
a:link .SideButton,
a:visited .SideButton {
  text-decoration: none;
}

.SideButton {
  -webkit-transition: background-color 500ms ease-out,
    background-color 200ms ease-in, margin-left 300ms ease-in-out;
  transition: background-color 500ms ease-out, background-color 200ms ease-in,
    margin-left 300ms ease-in-out;

  display: block;
  text-align: center;
  padding: 16px;
  margin-left: 0;
}

.ActiveSideButton {
  -webkit-transition: background-color 500ms ease-out,
    background-color 200ms ease-in, margin-left 300ms ease-in-out;
  transition: background-color 500ms ease-out, background-color 200ms ease-in,
    margin-left 300ms ease-in-out;

  color: aqua;
  background-color: #7f7f7f;
  display: block;
  text-align: center;
  padding: 16px;
  margin-left: 16px;
}

.ActiveSideButton:hover {
  cursor: default;
}

.SideBar a:link {
  text-decoration: none;
  color: aliceblue;
}

.SideBar a:visited {
  color: aliceblue;
}

.SideButton:hover {
  background-color: #555555;
  color: aqua;
  cursor: pointer;
}

/* Overview CSS */
.default.SideButton {
  background-color: #444;
}
.default.ActiveSideButton {
  background-color: #7f7f7f;
}
a:link .default,
a:visited .default {
  text-decoration: none;
  color: #ddd;
}
.default.SideButton:hover {
  background-color: #7f7f7f;
  color: aqua;
}

/*GLITCH GARDEN CSS*/
.glitch-garden.SideButton {
  background-color: #8b570a;
}
.ActiveSideButton.glitch-garden {
  background-color: saddlebrown;
}
a:link .glitch-garden,
a:visited .glitch-garden {
  text-decoration: none;
  color: #00d600;
}
.glitch-garden.SideButton:hover {
  background-color: saddlebrown;
  color: #00d600;
}

/*SPACE SHOOTER CSS*/

a:link .space-shooter,
a:visited .space-shooter.SideButton {
  background-color: #333;
  color: whitesmoke;
}
a:hover .space-shooter.SideButton {
  background-color: #111;
}
.space-shooter.SideButton {
  background-color: #333;
  color: whitesmoke;
}
.space-shooter.SideButton:hover {
  background-color: #111;
  color: rgb(20, 173, 255);
}

/*GAME DAY CSS*/

.game-day.ActiveSideButton {
  background-color: white;
}
a:link .game-day.ActiveSideButton,
a:visited .game-day.ActiveSideButton {
  color: aliceblue;
}
.game-day.SideButton {
  background-color: aliceblue;
}
a:link .game-day.SideButton,
a:visited .game-day.SideButton {
  color: #333;
  background-color: grey;
}
a:hover .game-day.SideButton {
  background-color: lightgray;
  color: #111;
}

/*INFINITE RUNNER CSS*/

/*GAME DAY CSS*/

.infinite-runner.ActiveSideButton {
  background-color: rgb(187, 0, 255);
}
a:link .infinite-runner.ActiveSideButton,
a:visited .infinite-runner.ActiveSideButton {
  color: aliceblue;
}
.infinite-runner.SideButton {
  background-color: turquoise;
  color: #111;
}
.infinite-runner.SideButton:hover {
  background-color: rgb(187, 0, 255);
  color: #00ff33fd;
}
a:link .infinite-runner.SideButton,
a:visited .infinite-runner.SideButton {
  background-color: turquoise;
  color: #111;
}
a:hover .infinite-runner.SideButton {
  background-color: paleturquoise;
  color: #111;
}

/* CaloriesIn CSS */

.calories-in.ActiveSideButton {
  background-color: orange;
  color: aliceblue;
}
a:link .calories-in.ActiveSideButton,
a:visited .calories-in.ActiveSideButton {
  color: aliceblue;
}
.calories-in.SideButton {
  background-color: rgb(255, 197, 88);
  color: #111;
}
.calories-in.SideButton:hover {
  background-color: rgb(255, 219, 128);
  color: #ff6200;
}
a:link .calories-in.SideButton,
a:visited .calories-in.SideButton {
  background-color: rgb(255, 197, 88);
  color: #111;
}
a:hover .calories-in.SideButton {
  background-color: rgb(255, 219, 128);
  color: #111;
}

/* PORTFOLIO CSS */
.portfolio.ActiveSideButton {
  background-color: darkturquoise;
  color: aliceblue;
}
a:link .portfolio.ActiveSideButton,
a:visited .portfolio.ActiveSideButton {
  color: aliceblue;
}
.portfolio.SideButton {
  background-color: turquoise;
  color: #111;
}
.portfolio.SideButton:hover {
  background-color: paleturquoise;
  color: #111;
}
a:link .portfolio.SideButton,
a:visited .portfolio.SideButton {
  background-color: turquoise;
  color: #111;
}
a:hover .portfolio.SideButton {
  background-color: paleturquoise;
  color: #111;
}

.nengine-editor.SideButton,
a:link .nengine-editor.SideButton,
a:visited .nengine-editor.SideButton {
  background-color: rgb(102, 126, 234);
  color: #111;
}

.nengine-editor.SideButton:hover,
a:hover .nengine-editor.SideButton {
  background-color: rgb(117, 142, 251);
  color: #eee;
}

.nengine-editor.ActiveSideButton {
  background-color: rgb(72, 90, 168);
  color: aliceblue;
}

a:link .nengine-editor.ActiveSideButton,
a:visited .nengine-editor.ActiveSideButton {
  color: aliceblue;
}
