.CaloriesIn {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  color: white;
  min-height: 71.9vh;
  max-height: 100%;

  background-color: #ff6a0008;
  padding-left: 100px;
  padding-right: 100px;
}

.CaloriesIn p {
  width: 30vw;
  color: whitesmoke;
}

.CaloriesIn h3 {
  margin-bottom: 0;
}

.CaloriesIn img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.CaloriesIn .IconLinksGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3em;
  justify-items: center;
}

@media (max-width: 768px) {
  .CaloriesIn {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
  }

  .CaloriesIn p {
    width: 80vw;
  }

  .CaloriesIn .IconLinksGrid {
    grid-template-columns: 1fr;
  }
}
