.ProjectCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  min-height: 90vh;
  max-height: fit-content;
}

.PersonalProjects {
  color: #eee;
  width: 100%;
}

.ProfessionalProjects {
  color: #eee;
  width: 100%;
}
