
.Projects{
    min-height: 72.3vh;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.ProjectDefault{
    background-color: #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    font-size: 1.6em;
}

.SpaceShooter{
    display: inline-block;
    background-color: black;
    width: 100%;
}

.SpaceShooter p{
    font-size: 1.2em;
    width: 60%;
    margin: auto;
    text-align: center;
}

.Unity_SpaceShooter{
    margin: auto !important;
    width: 450px !important;
    height: 800px !important;
}

.GlitchGarden {
    display: inline-block;
    font-size: 1.2em;
    text-shadow: #2d1603 1px 1px 10px;
    color: #96f396;
    /*filter: blur(3px);*/
    text-align: center;
    /*background-color: #53843f;*/
    width: 100%;
}

.GlitchGarden img{
    height: 70%;
    width: 70%;
}

.GlitchGardenBGImage{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('../../../media/images/grass bg.jpg');
    background-size: contain;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px) brightness(1);
}

.Unity_GlitchGarden{
    margin: auto !important;
    width: 70% !important;
}

.GameDay{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: white;
    color: #111;
    min-height: 72.3vh;
}

.GameDay p{
    font-size: 1.2em;
}

.InfiniteRunner{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: paleturquoise;
    color: #111;
}

.InfiniteRunner img{
    height: 60%;
    width: 60%;
    border: 10px darkturquoise;
}

.Unity_InfiniteRunner{
    margin: auto !important;
    width: 70% !important;
}

.PortfolioProject{
    width: 80vw;
    margin: auto;
}

.PortfolioProject p{
    font-size: 1.2em;
}

.PortfolioProject .PortfolioProjectLogos{
    display: inline-block;
}

.PortfolioProject .PortfolioProjectLogos .ReactLogo{
    height: 20%;
    width: 20%;
    padding: 2% 0;
}

.PortfolioProject .PortfolioProjectLogos .TSLogo{
    height: 10%;
    width: 10%;
    padding: 2% 10%;
}

.PortfolioProject a:link{
    color: turquoise;
}

.PortfolioProject a:visited{
    color: turquoise;
}

.PortfolioProject a:hover{
    color: darkturquoise;
}