
.Projects{
    min-height: 85.2vh;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.ProjectDefault{
    background-color: #555;
    display: inline-block;
    width: 100%;
}

.SpaceShooter{
    display: inline-block;
    background-color: black;
    width: 100%;
}

.SpaceShooter p{
    width: 60%;
    margin: auto;
    text-align: center;
}

.Unity_SpaceShooter{
    margin: auto !important;
    width: 450px !important;
    height: 800px !important;
}

.GlitchGarden {
    display: inline-block;
    text-align: center;
    background-color: darkgreen;
    width: 100%;
}

.Unity_GlitchGarden{
    margin: auto !important;
    width: 70% !important;
}

.GameDay{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: white;
    color: #111;
}

.InfiniteRunner{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: paleturquoise;
    color: #111;
}

.Unity_InfiniteRunner{
    margin: auto !important;
    width: 70% !important;
}

.PortfolioProject{
    width: 80vw;
    margin: auto;
}

.PortfolioProject p{
    font-size: 1.2em;
}
