
.BottomBar{
    padding: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
    width: 100%;
    background-color: #333;
}

.BottomBarTitle{
    padding-bottom: 1vw;
    font-size: 2vw;
}

.BottomBarIcons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-basis: available;
}

.BottomBarIcons a:link{
    color: white;
}

.BottomBarIcons a:visited{
    color: white;
}

.BottomBarIcons a:hover{
    color: blue;
}

.LinkedIn{
    flex: 1;
}

.Github{
    flex: 1;
}

.IconBundle{
    display: flex;
    flex-direction: column;
}