.BottomBar {
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;

  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  /*margin: 0;*/
  background-color: #222;
}

.BottomBarTitle {
  padding-bottom: 1vw;
  font-size: 1.8em;
  text-align: center;
  color: white;
}

.BottomBarIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px; /* optional: limit the spread */
  margin: 0 auto; /* optional: center the container */
}

.BottomBarLink {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  width: 200px;
  text-align: center;
  color: white;
}

.BottomBarIcons a:link {
  color: white;
}

.BottomBarIcons a:visited {
  color: white;
}

.LinkedIn {
  flex: 1 0 0;
}
.LinkedInOuter a:hover {
  color: #0072b1;
}

.Github {
  flex: 1 0 0;
}

.GithubOuter a:hover {
  color: #24292e;
}

.Github a:hover {
  color: black;
}

.EmailOuter a:hover {
  color: palevioletred;
}

.PhoneOuter a:hover {
  color: limegreen;
}

.IconBundle {
  display: flex;
  flex-direction: column;
}
